* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #17181a;
  font-family: "Redressed", sans-serif;
  overflow-x: hidden;
}

#logo {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

.nav-header {
  min-height: 10vh;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0rem;
  color: white;
  position: relative;
  z-index: 2;
}

.line1,
.line2 {
  background: white;
  width: 3rem;
  height: 0.2rem;
  margin: 0.3rem;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  margin: 0 auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  flex-basis: 25rem;
  position: relative;
}

.hero-desc h2 {
  font-family: "Redressed", sans-serif;
  line-height: 5rem;
  font-size: 4rem;
}

.hero-desc p {
  overflow: hidden;
  color: rgb(223, 223, 223);
  font-size: 2rem;
  padding: 3rem 0rem;
  line-height: 2.5rem;
}

.hero-img {
  overflow: hidden;
  position: relative;
  flex: 1;
  flex-basis: 25rem;
}

.playboichange img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-span1 {
  color: rgb(255, 26, 26);
}

.fashion-span2 {
  color: rgb(255, 51, 153);
}

.fashion-span3 {
  color: rgb(102, 102, 255);
}

.explore {
  padding: 1rem 2rem;
  border: 1px solid white;
  background: none;
  font-size: 1rem;
  text-decoration: none;
  align-self: center;
  margin-top: 2rem;
  margin-right: 10rem;
  cursor: pointer;
  color: white;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-link {
  font-size: 4rem;
  flex-basis: 30rem;
}

.nav-link h3 {
  padding: 3rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 4rem;
  padding: 3rem 0rem;
}
.contact p {
  font-size: 2rem;
  padding: 2rem 0rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 150%;
  top: -15%;
  left: 0;
  background: #17181a;
}

.cursor {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.nav-active {
  background: rgb(255, 102, 102);
  transform: scale(2.5);
}

.cursor.explore-active {
  background: white;
  transform: scale(2.8);
}

.text-cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
}

.t-swipe1 {
  background: rgb(255, 26, 26);
}

.t-swipe2 {
  background: rgb(255, 51, 153);
}

.t-swipe3 {
  background: rgb(102, 102, 255);
}

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}

/* PAGE 2 */
.playboii1,
.playboii2,
.playboii3,
.playboii4 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 5rem;
  margin: auto;
  color: white;
  flex-wrap: wrap;
  position: relative;
}

.playboi-img {
  height: 90vh;
  flex-basis: 40rem;
  margin-bottom: 2rem;
  padding-right: 5rem;
}

.playboi-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playboi-textt {
  flex: 1;
  position: relative;
  flex-basis: 20rem;
}

.playboi-textt h1 {
  font-size: 4.8rem;
  padding: 4rem 0rem;
}

.playboi-textt p {
  font-size: 2rem;
  padding: 2rem 0rem;
  margin-bottom: 15rem;
}

.playboi-nr {
  font-size: 14rem;
  position: absolute;
  right: 42%;
  bottom: 4%;
  color: white;
  opacity: 0.2;
}

.playboii1 h1 {
  color: rgb(0, 204, 68);
}

.playboii2 h1 {
  color: rgb(255, 255, 204);
}

.playboii3 h1 {
  color: rgb(0, 136, 204);
}

.playboii4 h1 {
  color: rgb(166, 166, 166);
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background: #7339ab;
  z-index: 5;
}

.swipe2 {
  background: #625ad8;
  z-index: 4;
}

.swipe3 {
  background: #1f9ce4;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  main {
    max-width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }

  .scrollmagic-pin-spacer {
    padding-top: 3rem;
    padding-bottom: 7rem;
  }

  .hero-desc h2 {
    padding: 1.5rem 0rem;
    font-size: 2.6rem;
  }
  .hero-desc p {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
  }
  .explore {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 15px;
  }

  .detail-slide {
    display: block;
    width: 100%;
  }

  .playboi-textt {
    position: relative;
    text-align: center;
  }

  .playboi-img img {
    width: 600px;
    height: 92vh;
    position: relative;
    padding-bottom: 5rem;
    right: 2%;
  }

  .playboi-nr {
    position: absolute;
    left: -20%;
  }

  .playboi-textt h1 {
    font-size: 4rem;
    padding: 0.5rem 0rem;
    margin-top: 1rem;
  }
  .playboi-textt p {
    font-size: 1.2rem;
    padding: 1rem;
    margin: 2rem;
  }
}
